<article class="card">
{{#with this}}
    <header class="header">
        <h2>{{name}}</h2>
        <p>{{description}}</p>
    </header>
    <ul class="card-body">
        <li>Precio: {{price}}</li>
        <li>Stock: {{stock}}</li>
    </ul>
{{/with}}
</article>