<!DOCTYPE html>
<html lang="en">
{{> head}}
<body>
    {{> header}}
    <main class="container">
        {{#if products }}
            {{#each products}}
            {{#with this}}
                <article class="card">
                    <header class="header">
                        <h2>{{name}}</h2>
                        <p>{{description}}</p>
                    </header>
                    <ul class="card-body">
                        <li>Precio: {{price}}</li>
                        <li>Stock: {{stock}}</li>
                    </ul>
                </article>
            {{/with}}
            {{/each}}
        {{/if}}
    </main>
    {{> footer}}
    {{> scripts}}
</body>
</html>