<!DOCTYPE html>
<html lang="en">
{{> head}}
<body>
    {{> header}}
    <main class="container">
        {{#unless error}}
            {{#each products}}
                {{> product this}}
            {{/each}}
        {{/unless}}
    </main>
    {{> footer}}
    {{> scripts}}
</body>
</html>